# Authentication
tenancy_ocid         = "<your_tenancy_ocid>"
user_ocid            = "<your_user_ocid>"
fingerprint          = "<your_fingerprint>"
private_key_path     = "<your_oci_private_key>
# example key path: /Users/<your_user>/.oci/oci_api_key.pem"

# Region
region = "<your_region>" 
# example region: sa-saopaulo-1

# Compartment
compartment_ocid = "<your_compartment_ocid>"